.body{
}
.header-top{
position: absolute;
width: 100%;
height: 50px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.ul{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 7px;

position: absolute;
width: 145px;
height: 35px;
left: 20px;
top: 7.5px;
}

.container{
  
width: 69px;
height: 35px;
background: #F1F1F1;
border-radius: 17px;
flex: none;
order: 1;
flex-grow: 0;


}

.header-image{
    position: absolute;
width: 23px;
height: 20.12px;
left: calc(50% - 120px/2);
top: calc(50% - 20.12px/2);
}

.vniz{
position: absolute;
width: 9px;
height: 5px;
left: 34px;
top: 4px;
}
.vniz2{
position: absolute;
width: 9px;
height: 5px;
left: 34px;
top: -1px;
}

.login{
width: 69px;
height: 35px;
background: #F1F1F1;
border-radius: 17px;
flex: none;
order: 1;
flex-grow: 0;
   position:absolute;
margin-right: auto;
right: 30px;
top: 7px;
}
.login-text{
    position: absolute;

left: 17px;
top: 7px;
text-decoration: none;
}
.header-box{
position: absolute;
margin: 0 auto !important;
width: 100%;
height: 145.25px;

top: 50px;
}

.logo{
position: absolute;
height: 81.7px;
left: 20px;
right: 1810px;
top: calc(50% - 81.7px/2 - 9.77px);

background: url(.jpg);
}

.block-text{
position: absolute;
width: 600px;
height: 123.25px;
left: 139px;
top: 22px;
}
.text1{
position: absolute;
width: 390px;
height: 19px;
left: 0px;
top: 7px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

display: flex;
align-items: center;
text-transform: uppercase;

color: #444444;
}

.text3{
position: absolute;
width: 595.01px;
height: 63px;
left: 0px;
top: 59.19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

display: flex;
align-items: center;

color: #000000;
}
.cont{
position: absolute;
width: 170.14px;
height: 46.8px;
margin-right: auto;
right: 20px;

top: 128.45px;
}
.cont-text1{
width: 119px;
height: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;

display: flex;
align-items: center;

color: #444444;

flex: none;
order: 0;
flex-grow: 0;
}
.cont-numb{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;

display: flex;
align-items: center;

color: #444444;

flex: none;
order: 1;
flex-grow: 0;
}
.contact-photo{
position: absolute;
width: 35px;
height: 35px;
left: calc(50% - 250px/2);
top: calc(50% - 35px/2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    text-decoration: none;
    list-style: none;
}
header{
    position: absolute;
height: 100px;
left: 200px;
right: 20px;
top: 200px;
display:flex;
justify-content: space-between;
align-items: center;
padding: 0 8%;
z-index: 1;
}
header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a{
    padding: 15px;
    color: #000;
    font-family: "roboto";
    font-weight: bold;
    font-size: 16px;
    display: block;
    border-radius: 10px;
}
header nav ul li a:hover{
    background: #000;
    color: #fff;

}
nav ul li ul{
    position: absolute;
    left: 0;
    width: 180px;
    background: #fff;
     border-radius: 10px;
    display: none;
}
nav ul li ul li{
    width: 100%;
}
nav ul li:hover > ul{
    display: initial;
}
.osnova{
background-image: url(1.jpg);
position: absolute;
height: 544px;
width: 100%;
left: 0px;
right: 0px;
top: 290px;
}
.osnova-ten{
    position: absolute;
width: 1429px;
height: 408px;
left: 0px;
top: 0px;

background: linear-gradient(78.8deg, rgba(0, 0, 0, 0.9) 0.37%, rgba(25, 33, 43, 0) 71.95%);
border-radius: 2px;
}
.osnova-photo{
width: 100%;
}
.osnova-text{
    position: absolute;
left: 248px;
right: 1096px;
top: 70px;
bottom: 229.77px;
}
.osnova-text1{
position: absolute;
width: 572.63px;
height: 57px;
left: -70px;
top: -25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: 54px;

display: flex;
align-items: center;

color: #FFFFFF;
}
.osnova-text2{
position: absolute;
width: 571.26px;
height: 126.97px;
left: -70px;
top: 25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;

color: #FFFFFF;
}
.osnova-box-cvet{
flex-direction: row;
align-items: flex-start;
padding: 10px;
isolation: isolate;

position: absolute;
width: 320px;
height: 357px;
margin-right: auto;
right: 170px;
top: 17px;
overflow: auto;

background: rgba(255, 255, 255, 0.9);
border-radius: 20px;
}

.osnova-text3{
width: 230px;
position: absolute;
left: 25px;
top: 20px;
font-family: 'Roboto';
font-size: 20px;
line-height: 25px;
color: #444444;
}
.osnova-text4{
position: absolute;
width: 280px;
height: 14px;
left: 24px;
top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 22px;

align-items: center;

color: #444444;
}

.osnova-box-photo{
position: absolute;
width: 130px;
height: 128px;
margin-right: auto;
right: 120px;
top: -10px;

background: #FFFFFF;
border-radius: 63px;


flex: none;
order: 1;
flex-grow: 0;
z-index: 0;
}
.osnova-oblozhka{
position: absolute;
width: 116px;
height: 116px;
left:7px;
top: 5px;

background: url(oblozhka.png);
border-radius: 58px;
}
.news{position: absolute;

width: 100%;
height: 647.39px;
left: 0px;
top: 698px;
background: linear-gradient(90deg, #C5DB9D 0%, #93C5DD 42.19%, #93C5DD 49.88%, #B9BBED 100%);
}
.news-button{
position: absolute;
width: 250px;
height: 95px;
margin-right: auto;
right: 580px;
margin-left: auto;
left: 610px;
bottom: 470px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 62.55%);
opacity: 0.4;
border-radius: 60px;
}
.news-button-text{
position: absolute;
width: 144.61px;
height: 42px;
margin-right: auto;
right: 630px;
margin-left: auto;
left: 660px;
top: 87px;
font-family: 'Roboto';
font-weight: 500;
font-size: 36px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #04558A;
}
.news-table{
position: absolute;
width: 1240px;
height: 426.39px;
left: calc(50% - 1240px/2);
top: 171px;
}
.news-table-niz{
    position: absolute;
width: 1240px;
height: 376.39px;
left: 0px;
top: 50px;
}
.news-table-sered{
position: absolute;
width: 864px;
height: 30.39px;
left: 33px;
top: 26px;
}
.news-table-sered-bottom{


padding: 1px 17.9062px 2.39062px 18.0938px;
position: absolute;
width: 40px;
height: 30px;
left: 0px;
top: 0px;
background: rgba(255, 255, 255, 0.4);
border-radius: 15px;
}
.news-table-sered-bottom-text{
position: absolute;
left: 6px;
top: 2px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.news-table-box{
width: 1240px;
height: 376.39px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #80A5C3 0%, rgba(0, 0, 0, 0) 91.15%);
opacity: 0.2;
border-radius: 20px;
}
.news-table-box-niz{
position: absolute;
width: 1240px;
height: 286px;
left: 0px;
top: 0px;
}
.news-table-box-slider{
position: absolute;
width: 1240px;
height: 286px;
left: 0px;
top: 0px;
}

.news-table-box-info{
position: absolute;
width: 374.33px;
height: 246px;
left: 837px;
top: 76.39px;
background: url(.jpg), #5714FF;
box-shadow: 0px 5px 20px rgba(154, 154, 154, 0.4);
border-radius: 10px;
}
.news-table-box-bottom{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7px 18.9688px 8.39062px 20px;

position: absolute;
width: 65px;
height: 17px;
left: 257.36px;
top: 200.61px;

background: #398EC6;
border-radius: 15px;
}
.news-table-box-podrobnee{

width: 63px;
height: 17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.news-table-text-gran{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 67.0969px 9.90625px 0px;
gap: 10.39px;

position: absolute;
width: 344.33px;
height: 45.3px;
left: 15px;
bottom: 60.39px;
}
.news-table-box-info1{
width: 92px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;

display: flex;
align-items: center;

color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
}
.news-table-box-info2{
    display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20.8px;
line-height: 20px;
color: #FFFFFF;
}
.news-table-box-info-ten{
position: absolute;
width: 374.33px;
height: 246px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 45.75%, rgba(196, 196, 196, 0.2) 100%);
border-radius: 10px;
}
.swiper{
position: absolute;
width: 900px;
height: 100%;

top: 50px;
    }
.swiper-image{
width: 37px;
height: 240px;

background: url(.jpg), #FFFFFF;
box-shadow: 0px 5px 20px rgba(154, 154, 154, 0.4);
border-radius: 10px;
}
.swiper-slide{
text-align: center;
font-size: 18px;
     
display: flex;
justify-content: center;
align-items: center;

    }
.swiper-slide img{
      width: 100%;
      object-fit: cover;
    }
.swiper-button-next, .swiper-rtl .swiper-button-prev{
      top: 220px !important;
      right: 100px !important; 
      left: auto;
      color: #FFFFFF !important;
      
    }
.swiper-button-prev, .swiper-rtl .swiper-button-next{
      top: 220px !important;
      left: 100px !important; 
      right: auto;
      color: #FFFFFF !important;
    }
.ten{
    position: absolute;
width: 280px;
height: 245px;
left: 0px;
top: 16px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 45.75%, rgba(196, 196, 196, 0.2) 100%);
border-radius: 10px;
}
.swiper-text{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 67.0969px 9.90625px 0px;
gap: 10.39px;

position: absolute;
width: 344.33px;
height: 85.3px;
left: 15px;
bottom: 30px;
}
.swiper-text1{
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}
.swiper-text2{
    width: 260px;
height: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;

text-align: left;

color: #FFFFFF;
}
.questions{
position: absolute;
height: 800px;
width: 100%;
margin-right: auto;
right: 0px;
top: 1345px;
}
.questions-button{
position: absolute;
width: 400px;
height: 95px;
margin-right: auto;
right: 520px;
margin-left: auto;
left: 520px;
bottom: 625.19px;

background: linear-gradient(180deg, #B2D8F5 0%, rgba(255, 255, 255, 0) 62.55%);
opacity: 0.4;
border-radius: 60px;
}
.questions-button-text{
    position: absolute;
width: 359.67px;
height: 42px;
margin-right: auto;
right: 520px;
margin-left: auto;
left: 560px;
top: 100px;

font-family: 'Roboto';
font-weight: bold !important;

font-size: 30px;
line-height: 30px;


color: #04558A;
}
.questions-button-podtext{

position: absolute;
width: 504.33px;
height: 32.09px;
margin-right: auto;
right: -50px;
margin-left: auto;
left: -70px;
top: 80px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

display: flex;
align-items: center;
text-align: center;

color: #000000;
}



.container12{
    position: absolute;
margin-left: auto;
    left: 500px;
    top: 300px;

     position: center;
     display: flex;

}
.main__form{
    display: flex;
      color:#fff;
  font-size: 200%;
  text-align: center;
  border-radius: 40px;
  bottom: 200px;
}

.required{
color:#ff0000;
}
.form__input{
padding: 40px 50px;
font-family: 'roboto';

margin:0 0 0 25px;

}
.form-text{
    font-family: 'roboto';
    color: #000000;
    font-size: 16px;

}
.form__input1{
    padding: 40px 80px;
    margin:0 0 0 25px;
    font-family: 'roboto';
}
.radio{
    position: absolute;
    width: 300px;
    top: 170px;
    left: 210px;
    color: #000;
    font-size: 15px;
}
.form__btn{
    position: absolute;
    top: 260px;
    left: 290px;
    color: #000;
    font-size: 15px;
}
.form1{
    margin-left: -80px;
}
.geomaps{position: absolute;
width: 100%;
height: 469px;
left: 0px;
top: 2100px;
}
.map {
    width: 100%;
    height: 469px;
    background-color: #333;
}
.balloon__address{
    font-family: 'Roboto';
    font-size: 15px;
    color: #000;
}
.balloon__info{
    font-family: 'Roboto';
    font-size: 15px;
    color: #000;
}
.contact{
    position: absolute;
width: 100%;
height: 675px;
left: 0px;
top: 2569px;

background: linear-gradient(90deg, #C5DB9D 0%, #93C5DD 42.19%, #93C5DD 49.88%, #B9BBED 100%);
}
.contact-box{
    position: absolute;
width: 1073px;
height: 429.41px;
left: calc(50% - 1073px/2);
top: 140px;
}
.contact-box-left{display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 20px 60.7812px;

position: absolute;
width: 413px;
height: 429.41px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 5px 20px rgba(154, 154, 154, 0.4);
border-radius: 20px;}
.contact-box-left-text1{
box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 1px;
margin-top: 1px;

width: 373px;
height: 47.88px;

border-bottom: 1px solid #DEDEDE;


flex: none;
order: 0;
flex-grow: 0;
color: #04558A;
font-family: 'roboto';
}
.contact-box-left-niz{
    display: flex;
flex-direction: column;
align-items: flex-start;
margin: 10px;

width: 373px;
height: 300.75px;



flex: none;
order: 1;
flex-grow: 0;
}
.contact-box-left-text2{
width: 373px;
height: 150.38px;

flex: none;
order: 0;
flex-grow: 0;

font-family: 'Roboto';
font-style: normal;
font-weight: 3;
font-size: 18px;
line-height: 35px;
color: #000000;
}
.contact-box-left-text3{
    width: 373px;
height: 150.38px;

flex: none;
order: 1;
flex-grow: 0;


font-family: 'Roboto';
font-style: normal;
font-weight: 3;
font-size: 18px;
padding: 30px 10px 20px 0px;
line-height: 35px;

color: #000000;
}
.contact-box-right{display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;

position: absolute;
width: 633px;
height: 470px;
left: 480px;
top: 0px;

font-family: 'Roboto';
background: #FFFFFF;
box-shadow: 0px 5px 20px rgba(154, 154, 154, 0.4);
border-radius: 20px;
}
.contact-bot-rightZAG{
    box-sizing: border-box;


display: flex;
flex-direction: row;
align-items: flex-start;
padding: 1px;
margin: 1px;

width: 610px;
height: 47.88px;

border-bottom: 1px solid #DEDEDE;
color: #04558A;
}

.contact-box-right1{
position: absolute;
height: 171.97px;
left: 20px;
top: 80px;

font-style: normal;
font-weight: 3;
font-size: 16px;
line-height: 35px;


color: #000000;
}
.contact-box-right2{
    position: absolute;
height: 180px;
left: 350px;
width: 50%;
top: 80px;


font-style: normal;
font-weight: 3;
font-size: 16px;
line-height: 35px;

color: #000000;
}
.contact-box-right3{
    position: absolute;
height: 169.56px;
left: 20px;

top: 280px;


font-style: normal;
font-weight: 3;
font-size: 16px;
line-height: 35px;

color: #000000;
}
.contact-box-right4{
position: absolute;
height: 169.56px;
left: 350px;
right: 0px;
top: 280px;


font-style: normal;
font-weight: 3;
font-size: 16px;
line-height: 35px;

color: #000000;
}
.footer{
    position: absolute;
width: 100%;
height: 170px;
left: 0px;
top: 3244px;

border-top: 1px solid #FFF;
background: linear-gradient(90deg, #C5DB9D 0%, #93C5DD 42.19%, #93C5DD 49.88%, #B9BBED 100%);;
}
.footer-zona{
    position: absolute;
width: 1196px;
height: 67.38px;
left: calc(50% - 1196px/2);
top: 55px;

}
.footer-zona1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 550px;
height: 42.38px;
margin-left: auto;
left: 1px;
top: 0px;
text-decoration: underline;

font-family: 'Roboto';

font-size: 16px;
color: #FFF;

}
.footer-ten{
position: absolute;
width: 374.33px;
height: 246px;
left: 0px;
top: 3244px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 45.75%, rgba(196, 196, 196, 0.2) 100%);
border-radius: 10px;
}



.logo1{
    width: 150px;
    height: 150px;
    margin-left: -20px;
    margin-top: 10px;
}





